body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.princ {
    /* padding: 2rem; */
}

.qk-input {
    outline: none;
    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--laranja);
    color: #ffffff;
    padding: 1rem 2.5rem;
}

.cabecalho-menus {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cabecalho-menus span {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.cabecalho-menus span:hover {
    background-color: var(--amarelo);
}

.cabecalho .cabecalho-perfil {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cabecalho .cabecalho-perfil .foto-perfil {
    width: 3rem;
}

.div-bem-vindo {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    background-image: url(https://images.pexels.com/photos/3186654/pexels-photo-3186654.jpeg?);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(0.5);
    /* filter: brightness(0.5);
    -webkit-filter: brightness(0.5); */
    /* filter: blur(0.5rem);
    -webkit-filter: blur(0.5rem)*/
}