body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* overflow: hidden; */
}

button {
    font-family: 'Poppins', sans-serif;
}

.princ {
    /* padding: 2rem; */
}

.qk-input-group {
    display: flex;
    align-items: stretch;
}

.qk-input-group .qk-input:last-child,
.qk-input-group :not(input):last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.qk-input-group .qk-input:first-child,
.qk-input-group :not(input):first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.qk-input {
    outline: none;
    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
    transition: box-shadow 0.15s ease-in-out;
}

.qk-input:focus {
    box-shadow: 0 0 0 0.25rem var(--principal-border);
}

 .qk-btn {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.qk-btn-princ {
    background-color: var(--principal);
    color: var(--qk-preto);
}

.qk-btn-princ:hover {
    background-color: var(--principal-escuro);
}

.qk-btn-princ:focus {
    background-color: var(--principal-escuro);
    box-shadow: 0 0 0 0.25rem var(--principal-claro);
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem var(--principal-claro);
}

.img-svg {
    width: 30%;
}

/**/
.div-bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #00000094;
    color: white;
    background-image: url('/img/jpeg/pexels-nerfee-mirandilla-3186654.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div-bem-vindo .bem-vindo-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
    background-color: #00000094;
}

.div-bem-vindo .bem-vindo-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}