.cabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--qk-preto);
    padding: 1rem 2.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 2rem;
}

.cabecalho .logo {
    color: var(--principal);
    font-size: 1.25rem;
}

.cabecalho-endereco i {
    color: var(--principal);
}

.cabecalho-endereco span:last-child {
    border-bottom: 2px solid var(--principal);
}

.cabecalho .cabecalho-perfil {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cabecalho .cabecalho-perfil .foto-perfil {
    aspect-ratio: 1;
    width: 3.5rem;
    border: 0.25rem solid var(--principal);
    border-radius: 50%;
}

.cabecalho .container-perfil {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cabecalho .container-perfil .icones {
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.cabecalho .container-perfil .icones i {
    font-size: 1.25rem;
}

/* .cabecalho .container-perfil .icones i:hover {
    background-color: var(--principal);
    transition: background-color .15s ease-in-out;
} */

/******** Responsividade ********/
@media (max-width: 576px) {

    div.cabecalho {
        padding: 1rem;
    }

    div.cabecalho div.cabecalho-endereco,
    div.cabecalho div.container-perfil div.icones {
        display: none !important;
    }

    div.div-cardapio h4 {
        text-align: center;
    }

    div.div-cardapio div.div-sem-cardapio {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    div.div-cardapio div.div-sem-cardapio div {
        text-align: center;
    }

    div.div-cardapio div.div-sem-cardapio .img-svg {
        width: 75%;
    }

    div#resultadoBusca div[data-carregando] div {
        display: none !important;
    }

    div.div-dados-mobile {
        display: flex;
    }
}