.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--principal);
    color: #ffffff; */
    color: var(--qk-preto);
    padding: 1rem 2.5rem;
}

.cabecalho .logo {
    color: var(--principal);
    font-size: 1.25rem;
}

.cabecalho-menus {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cabecalho-menus span {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.cabecalho-menus span:hover {
    background-color: var(--amarelo);
}

.cabecalho .cabecalho-perfil {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cabecalho .cabecalho-perfil .foto-perfil {
    width: 3rem;
    border: 0.25rem solid var(--principal);
    border-radius: 50%;
}

.cabecalho .container-perfil {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cabecalho .container-perfil .icones {
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.cabecalho .container-perfil .icones i {
    font-size: 1.25rem;
}

/* .cabecalho .container-perfil .icones i:hover {
    background-color: var(--principal);
    transition: background-color .15s ease-in-out;
} */