.div-banner-rest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #00000094;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.div-banner-rest .banner-rest-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
    background-color: #00000094;
}

.div-banner-rest .banner-rest-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qk-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}